# Build artifacts
*.o
*.a
*.lo
*.la
*.so
*.so.*
.deps
.libs
Makefile
Makefile.in
src/gawm
src/gaw
src/stest
lib/stest
stamp-h1
config.h
config.h.in
config.log
config.status
config.cache
autom4te.cache
aclocal.m4
configure
depcomp
install-sh
missing
compile
config.guess
config.sub
config.rpath
libtool
ltmain.sh
test-driver
test/*.trs
po/*.gmo
po/.reference
po/stamp-it
po/Makefile
po/Makefile.in
po/POTFILES
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

# Backup files
*~
*.bak
*.swp
